munch~=2.5.0
pytest~=7.4.4
matplotlib~=3.9.0
numpy~=1.26.4
pyyaml~=6.0.1
pybullet~=3.2.6
setuptools~=69.5.1
casadi~=3.6.5
gymnasium~=0.28.1
torch~=1.13.1
scipy~=1.13.1
imageio~=2.34.1
tensorboard~=2.16.2
termcolor~=1.1.0
gpytorch~=1.11
scikit-learn~=1.5.0
cvxpy~=1.5.1
pytope~=0.0.4
optuna~=3.6.1
mysql-connector-python~=8.0.33
